In [1]:
# Dependencies
import pandas as pd

In [2]:
# List of file names to be combined 
files18 = ['2018/JC-201803-citibike-tripdata.csv', '2018/JC-201804-citibike-tripdata.csv', '2018/JC-201805-citibike-tripdata.csv',
              '2018/JC-201806-citibike-tripdata.csv', '2018/JC-201807-citibike-tripdata.csv', '2018/JC-201808-citibike-tripdata.csv',
              '2018/JC-201809-citibike-tripdata.csv', '2018/JC-201810-citibike-tripdata.csv', '2018/JC-201811-citibike-tripdata.csv',
              '2018/JC-201812-citibike-tripdata.csv', '2018/JC-201801-citibike-tripdata.csv', '2018/JC-201802-citibike-tripdata.csv']

# Create an empty list to store each dataframe
df18_list = []

# Loop through each file in the list
for file in files18:
    # Read the file into a dataframe
    df18 = pd.read_csv(file)

    # Append the dataframe to the list
    df18_list.append(df18)

# Concatenate all dataframes in the list into one dataframe
df18 = pd.concat(df18_list)

output_file_path = 'tableau_data/combined_data_18.csv'
df18.to_csv(output_file_path, index=False)

# Show dataframe
df18.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29284,Subscriber,1981,1
1,118,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29465,Subscriber,1966,1
2,76,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29681,Subscriber,1975,1
3,578,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717732,-74.043845,31695,Subscriber,1970,1
4,485,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31802,Subscriber,1979,1

In [3]:
# List of file names to be combined 
files20 = ['2020/JC-202003-citibike-tripdata.csv', '2020/JC-202004-citibike-tripdata.csv', '2020/JC-202005-citibike-tripdata.csv',
              '2020/JC-202006-citibike-tripdata.csv', '2020/JC-202007-citibike-tripdata.csv', '2020/JC-202008-citibike-tripdata.csv',
              '2020/JC-202009-citibike-tripdata.csv', '2020/JC-202010-citibike-tripdata.csv', '2020/JC-202011-citibike-tripdata.csv',
              '2020/JC-202012-citibike-tripdata.csv', '2020/JC-202001-citibike-tripdata.csv', '2020/JC-202002-citibike-tripdata.csv']

# Create an empty list to store each dataframe
df20_list = []

# Loop through each file in the list
for file in files20:
    # Read the file into a dataframe
    df20 = pd.read_csv(file)

    # Append the dataframe to the list
    df20_list.append(df20)

# Concatenate all dataframes in the list into one dataframe
df20 = pd.concat(df20_list)

output_file_path = 'tableau_data/combined_data_20.csv'
df20.to_csv(output_file_path, index=False)

# Show dataframe
df20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,389,2020-03-01 00:14:07.0000,2020-03-01 00:20:36.0880,3202,Newport PATH,40.727224,-74.033759,3203,Hamilton Park,40.727596,-74.044247,42381,Subscriber,1992,1
1,242,2020-03-01 00:48:06.4390,2020-03-01 00:52:08.9870,3185,City Hall,40.717732,-74.043845,3205,JC Medical Center,40.716540,-74.049638,42155,Subscriber,1991,1
2,124,2020-03-01 01:08:46.4880,2020-03-01 01:10:51.2780,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,42376,Subscriber,1987,0
3,104,2020-03-01 01:22:35.4790,2020-03-01 01:24:20.2470,3202,Newport PATH,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,42350,Subscriber,1993,1
4,228,2020-03-01 01:39:20.2680,2020-03-01 01:43:09.1380,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,42235,Subscriber,1988,1

In [4]:
# List of file names to be combined 
files22 = ['2022/JC-202203-citibike-tripdata.csv', '2022/JC-202204-citibike-tripdata.csv', '2022/JC-202205-citibike-tripdata.csv',
              '2022/JC-202206-citibike-tripdata.csv', '2022/JC-202207-citbike-tripdata.csv', '2022/JC-202208-citibike-tripdata.csv',
              '2022/JC-202209-citibike-tripdata.csv', '2022/JC-202210-citibike-tripdata.csv', '2022/JC-202211-citibike-tripdata.csv',
              '2022/JC-202212-citibike-tripdata.csv', '2022/JC-202201-citibike-tripdata.csv', '2022/JC-202202-citibike-tripdata.csv']

# Create an empty list to store each dataframe
df22_list = []

# Loop through each file in the list
for file in files22:
    # Read the file into a dataframe
    df22 = pd.read_csv(file)

    # Append the dataframe to the list
    df22_list.append(df22)

# Concatenate all dataframes in the list into one dataframe
df22 = pd.concat(df22_list)

output_file_path = 'tableau_data/combined_data_22.csv'
df22.to_csv(output_file_path, index=False)

# Show dataframe
df22.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member

In [5]:
# Concatenate all dataframes for all the years into one
combined_df = pd.concat([df18, df20, df22], axis=0)

# Display the results
combined_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,329.0,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183.0,Exchange Place,40.716247,-74.033459,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,118.0,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76.0,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,578.0,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183.0,Exchange Place,40.716247,-74.033459,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,485.0,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183.0,Exchange Place,40.716247,-74.033459,3187.0,Warren St,40.721124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Dictionary mapping values in the 'gender' column to new values
mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Use the 'map' method to change the values in the 'gender' column
combined_df['gender'] = combined_df['gender'].map(mapping)

# Show DataFrame
combined_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,329.0,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183.0,Exchange Place,40.716247,-74.033459,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,118.0,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76.0,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,578.0,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183.0,Exchange Place,40.716247,-74.033459,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,485.0,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183.0,Exchange Place,40.716247,-74.033459,3187.0,Warren St,40.721124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-26 23:43:17,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-26 23:43:19,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-22 13:22:14,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-17 12:31:04,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-21 10:24:35,Bergen Ave & Stegman St,JC108,JC Medical Center,JC011,40.706575,-74.086701,40.716540,-74.049638,member

In [7]:
column_headers = combined_df.columns
print(column_headers)

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'ride_id', 'rideable_type', 'started_at',
       'ended_at', 'start_station_name', 'start_station_id',
       'end_station_name', 'end_station_id', 'start_lat', 'start_lng',
       'end_lat', 'end_lng', 'member_casual'],
      dtype='object')

In [8]:
output_file_path = 'tableau_data/data_pre_during_post_pandemic.csv'
combined_df.to_csv(output_file_path, index=False)

In [9]:
selected_columns = [
    'tripduration', 'starttime', 'stoptime', 'start station id',
    'start station name', 'start station latitude',
    'start station longitude', 'end station id', 'end station name',
    'end station latitude', 'end station longitude', 'bikeid', 'usertype',
    'birth year', 'gender'
]

# Create a new DataFrame with only the selected columns
for_tab_df_1 = combined_df[selected_columns]

for_tab_df_1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329.0,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183.0,Exchange Place,40.716247,-74.033459,3202.0,Newport PATH,40.727224,-74.033759,29284.0,Subscriber,1981.0,Male
1,118.0,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,-74.033552,29465.0,Subscriber,1966.0,Male
2,76.0,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,-74.033552,29681.0,Subscriber,1975.0,Male
3,578.0,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183.0,Exchange Place,40.716247,-74.033459,3185.0,City Hall,40.717732,-74.043845,31695.0,Subscriber,1970.0,Male
4,485.0,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183.0,Exchange Place,40.716247,-74.033459,3187.0,Warren St,40.721124,-74.038051,31802.0,Subscriber,1979.0,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
for_tab_df_1 = for_tab_df_1.dropna(subset=['starttime'])

In [11]:
for_tab_df_1.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
22957,262.0,2020-02-29 23:40:53.1620,2020-02-29 23:45:15.3180,3639.0,Harborside,40.719252,-74.034234,3214.0,Essex Light Rail,40.712774,-74.036486,42467.0,Subscriber,1967.0,Male
22958,216.0,2020-02-29 23:41:01.3350,2020-02-29 23:44:38.0350,3186.0,Grove St PATH,40.719586,-74.043117,3483.0,Montgomery St,40.719420,-74.050990,42377.0,Subscriber,1958.0,Male
22959,101.0,2020-02-29 23:45:22.1700,2020-02-29 23:47:03.2970,3214.0,Essex Light Rail,40.712774,-74.036486,3681.0,Grand St,40.715178,-74.037683,42485.0,Subscriber,1967.0,Male
22960,279.0,2020-02-29 23:47:56.8380,2020-02-29 23:52:36.6400,3186.0,Grove St PATH,40.719586,-74.043117,3483.0,Montgomery St,40.719420,-74.050990,42531.0,Subscriber,1988.0,Male
22961,212.0,2020-02-29 23:49:18.4510,2020-02-29 23:52:50.7490,3184.0,Paulus Hook,40.714145,-74.033552,3276.0,Marin Light Rail,40.714584,-74.042817,42385.0,Subscriber,1967.0,Male

In [12]:
selected_columns = [
    'ride_id', 'rideable_type', 'started_at', 'ended_at',
    'start_station_name', 'start_station_id', 'end_station_name',
    'end_station_id', 'start_lat', 'start_lng', 'end_lat',
    'end_lng', 'member_casual'
]

# Create a new DataFrame with only the selected columns
for_tab_df_2 = combined_df[selected_columns]

# Show the new DataFrame
for_tab_df_2

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31906,56F2CE737BC48B4F,electric_bike,2022-02-26 22:56:54,2022-02-26 23:43:17,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31907,B9123C9BA1E8A1E0,electric_bike,2022-02-26 22:53:08,2022-02-26 23:43:19,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31908,93421FA350A599A4,electric_bike,2022-02-22 12:38:05,2022-02-22 13:22:14,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31909,92EA21949B94DBE4,classic_bike,2022-02-16 19:20:25,2022-02-17 12:31:04,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31910,BBD984693E611685,classic_bike,2022-02-21 09:36:56,2022-02-21 10:24:35,Bergen Ave & Stegman St,JC108,JC Medical Center,JC011,40.706575,-74.086701,40.716540,-74.049638,member

In [13]:
for_tab_df_2 = for_tab_df_2.dropna(subset=['started_at'])

for_tab_df_2.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3255D3E3F33CDC45,classic_bike,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781,casual
1,17FA5604A37338F9,electric_bike,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
2,7DEC9ADDB8D6BBE1,electric_bike,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
3,9D69F74EEF231A2E,classic_bike,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member
4,C84AE4A9D78A6347,classic_bike,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117,member

In [14]:
selected_columns_1 = [
    'starttime', 'stoptime', 'start station id', 'start station name',
    'start station latitude', 'start station longitude', 'end station id',
    'end station name', 'end station latitude', 'end station longitude'
]

selected_columns_2 = [
    'started_at', 'ended_at', 'start_station_name', 'start_station_id',
    'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat',
    'end_lng'
]

In [15]:
for_merge_1 = for_tab_df_1[selected_columns_1]

for_merge_2 = for_tab_df_2[selected_columns_2]

In [16]:
rename_dict = {
    'started_at': 'starttime',
    'ended_at': 'stoptime',
    'start_station_name': 'start station name',
    'start_station_id': 'start station id',
    'end_station_name': 'end station name',
    'end_station_id': 'end station id',
    'start_lat': 'start station latitude',
    'start_lng': 'start station longitude',
    'end_lat': 'end station latitude',
    'end_lng': 'end station longitude'
}

for_merge_2 = for_merge_2.rename(columns=rename_dict)

for_merge_2.head()

,starttime,stoptime,start station name,start station id,end station name,end station id,start station latitude,start station longitude,end station latitude,end station longitude
0,2022-03-18 15:38:17,2022-03-18 15:45:34,Mama Johnson Field - 4 St & Jackson St,HB404,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,40.743140,-74.040041,40.736982,-74.027781
1,2022-03-04 16:44:48,2022-03-04 16:50:45,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117
2,2022-03-13 17:44:32,2022-03-13 17:54:44,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117
3,2022-03-13 15:33:47,2022-03-13 15:41:22,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117
4,2022-03-11 12:21:18,2022-03-11 12:33:24,Baldwin at Montgomery,JC020,Grove St PATH,JC005,40.723659,-74.064194,40.719586,-74.043117

In [17]:
pre_post_pandemic_df = pd.concat([for_merge_1, for_merge_2], axis=0)
pre_post_pandemic_df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude
0,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183.0,Exchange Place,40.716247,-74.033459,3202.0,Newport PATH,40.727224,-74.033759
1,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,-74.033552
2,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,-74.033552
3,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183.0,Exchange Place,40.716247,-74.033459,3185.0,City Hall,40.717732,-74.043845
4,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183.0,Exchange Place,40.716247,-74.033459,3187.0,Warren St,40.721124,-74.038051
...,...,...,...,...,...,...,...,...,...,...
31906,2022-02-26 22:56:54,2022-02-26 23:43:17,JC108,Bergen Ave & Stegman St,40.706575,-74.086701,JC108,Bergen Ave & Stegman St,40.706575,-74.086701
31907,2022-02-26 22:53:08,2022-02-26 23:43:19,JC108,Bergen Ave & Stegman St,40.706575,-74.086701,JC108,Bergen Ave & Stegman St,40.706575,-74.086701
31908,2022-02-22 12:38:05,2022-02-22 13:22:14,JC108,Bergen Ave & Stegman St,40.706575,-74.086701,JC108,Bergen Ave & Stegman St,40.706575,-74.086701
31909,2022-02-16 19:20:25,2022-02-17 12:31:04,JC108,Bergen Ave & Stegman St,40.706575,-74.086701,JC108,Bergen Ave & Stegman St,40.706575,-74.086701
31910,2022-02-21 09:36:56,2022-02-21 10:24:35,JC108,Bergen Ave & Stegman St,40.706575,-74.086701,JC011,JC Medical Center,40.716540,-74.049638

In [18]:
output_file_path = 'tableau_data/citibike_pandemic.csv'
pre_post_pandemic_df.to_csv(output_file_path, index=False)

In [19]:
# Concatenate all dataframes for all the years into one
pre_post_df = pd.concat([df18, df22], axis=0)

# Display the results
pre_post_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,329.0,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183.0,Exchange Place,40.716247,-74.033459,3202.0,Newport PATH,40.727224,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,118.0,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,76.0,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183.0,Exchange Place,40.716247,-74.033459,3184.0,Paulus Hook,40.714145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,578.0,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183.0,Exchange Place,40.716247,-74.033459,3185.0,City Hall,40.717732,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,485.0,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183.0,Exchange Place,40.716247,-74.033459,3187.0,Warren St,40.721124,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-26 23:43:17,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-26 23:43:19,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-22 13:22:14,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-17 12:31:04,Bergen Ave & Stegman St,JC108,Bergen Ave & Stegman St,JC108,40.706575,-74.086701,40.706575,-74.086701,casual
31910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2022-02-21 10:24:35,Bergen Ave & Stegman St,JC108,JC Medical Center,JC011,40.706575,-74.086701,40.716540,-74.049638,member

In [20]:
# Use the 'map' method to change the values in the 'gender' column
pre_post_df['gender'] = pre_post_df['gender'].map(mapping)

In [21]:
output_file_path = 'tableau_data/data_pre_post_pandemic.csv'
pre_post_df.to_csv(output_file_path, index=False)

In [22]:
# Concatenate all dataframes for all the years into one
during_post_df = pd.concat([df20_21, df22_23], axis=0)
during_post_df['gender'] = during_post_df['gender'].map(mapping)
# Display the results
during_post_df

NameError: name 'df20_21' is not defined

In [ ]:
output_file_path = 'tableau_data/data_during_post_pandemic.csv'
during_post_df.to_csv(output_file_path, index=False)